
:root {
	
}
* {
	padding: 0;
}
body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}
/* Test CSS */
.testborder {
	box-sizing: border-box;
	border: 1px solid;
}
/* !!! Effects !!! */
.outline {
    text-shadow: 
		0px 0px 2px #ccc;
}
.surround {
	display: inline-block;
	margin: 2px;
	border: 1px solid grey;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
}
.tooltip div {
    visibility: hidden;
    background-color: black;
	width: 150px;
    color: #fff;
    text-align: center;
	font-size: 15px;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
	bottom: 105%
}
.tooltip:hover div {
    visibility: visible;
}
/* ! Oldschool Border ! */
.osborderend {
	border: 1px solid grey;
}
.osborder {
	border: 2px solid;
	border-color: white grey grey white ; 
}
/* !!! Basic objects !!! */
/* ! Containters  ! */
#container {
	width: 100%;
	height: calc(100vh - 28px);
	top: 28px;
	position: absolute;
	overflow-y: hidden;
}
#navbar {
	position: absolute;
	width: 100%;
	height: 28px;
	background-color: #e0e0e0;
	z-index: 1;
}
.block {
	box-sizing: border-box;
	position: relative;
	margin-top: 20px;
	margin-left: 20px;
	width: calc(100% - 40px);	
	height: calc(100% - 40px);
}
.block.w50 {
	float: left;
	width: calc(50% - 30px);
}
.block.w25 {
	float: left;
	width: calc(25% - 25px);
}
.block.h50 {
	height: calc(50% - 30px);
}
.block.h25 {
	height: calc(25% - 25px);
}
.content {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
	/*border-style: solid;
	box-sizing: border-box;
	border-width: 1px;
	border-color: #000000;*/
}
/* !!! Custom objects !!! */
/*   ! Navigation buttons ! */ 
.navbutton {
	position: relative;
	display: block;
	border: none;
	height: 28px;
	float: left;
	width: 20%;
	margin: 0;
	background-color: #dddddd;
	white-space: nowrap;
	text-decoration: none;
	color: #000000;
}
.navbutton text {
	font-family: Helvetica;
	position: relative; 
	text-align: center;
	width: 100%; 
	display: block;
	font-size: 20px;
}
.navbutton:hover {
	background-color: #e8e8e8;
}

.navbutton:active {
	background-color: #cccccc;
}
.navbutton:active text{
	top: 1px;
}
.navbutton:disabled {
	background-color: #f0f0f0;
}
.navhold {
	left: 50%;
	position: absolute;
	width: 0;
	height: 100%;
	background-color: #50b0ff;
	top: 0;
	opacity: 0.5;
	transition: ease-out 0.5s;
}
.navbutton:enabled .navhold {
	transition: none;
}
.navbutton:disabled:active .navhold {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: ease-in 1.5s;
}
/* !- Navigation Dropdown -! */
#dropdown {
	position: absolute;
	display: none;
	right: 0px;
	top: 0px;
}
#dropbtn {
	position: absolute;
	right: 0px;
	top: 0px;
	display: none;
	width: 30px;
}
#dropdown-content {
	display: none;
	position: absolute;
	top: 28px;
	right: 0px;
	width: 180px;
	background-color: #e8e8e8;
	z-index: 1;
}
#dropdown:hover #dropdown-content{
	display: block;
}
#dropdown:hover #dropbtn{
	background-color:  #e8e8e8;
}
#dropdown {
	
}
/* !- Oldschool table -! */
.status table {
	border-spacing: 0;
    width: 100%;
	height: 100%;
	border: 1px solid;
	border-color: grey; 
}
.status table th,td {
	padding: 2px;
	border: 2px solid;
	border-color: white grey grey white; 
}
.status table th {
	height: 30px;
}
.status table td {
	text-align: center;
}
.status td{
	font-size: 25px;
}
/* !- Status Links -! */
div[status] {
	padding: 2px 10px 2px 10px;
	display: inline-block;
}
div[status="Soeger"] {
	color: #080;
}
div[status="Aaben"] {
	color: #f80;
}
div[status="Ansat"] {
	color: #f00;
}
a[status="Soeger"] {
	color: #080;
}
a[status="Aaben"] {
	color: #f80;
}
a[status="Ansat"] {
	color: #f00;
}
a[status="Soeger"]:hover {
	color: #4a4;
}
a[status="Aaben"]:hover {
	color: #fa5;
}
a[status="Ansat"]:hover {
	color: #f55;
}
/* !!! Calculator Styling !!! */
#calcwindow{
	display: block;
	position: absolute;
	z-index: 2;
}
#calcwindow[hide=true]{
	display: none;
}
#calcwindowheader{
	position: relative;
	display: block;
	height: 20px;
	background-color: #d0d0d0;
    cursor: move;
	border-bottom:none;
}
#calculator{
	display: inline-block;
	background-color: #dddddd;
	padding: 2px;
	border-top: none;
}
#calculator div{
	width: 100%;
	min-height: 20px;
	background-color: white;
	text-align: right;
}
#calculator button{
	position: relative;
	margin: 2px;
	display: inline;
	vertical-align: middle;
	white-space: nowarp;
	width: 40px;
	height: 30px;
}
/* !!! Reactive & Adaptive Conditions !!! */
@media (max-width: 749px) {
	.navbutton {
		width: calc(25% - 7.5px);
	}
	#dropbtn{
		display: inline-block;
	}
	#dropdown {
		display: block;
	}
}
@media (max-width: 599px) {
	.navbutton {
		width: calc(33% - 8px);
	}
}
@media (max-width: 449px) {
	.navbutton {
		width: calc(50% - 15px);
	}
}
